
/* ------------------------ */
/* Mis en ligne avec planethoster et filezilla
domaine : 	taggeur-man.go.yj.fr
nom utilisateur : hwmjzcyr
mot de passe : 6YtQjJasWX4Tbk
 */
/* ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

/* Appeler les deux styles de polices
font-family: 'Advent Pro', sans-serif;
font-family: 'Dancing Script', cursive; 
*/

/* ----- Effet scroll doucement sur toute la page pour les liens --- */

html{
    scroll-behavior: smooth;
}

/* ----- Réglage de Base ------ */
body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}

/* -------------------- NavBar ------------------- */

nav{
    overflow: hidden;
    background-color: blanchedalmond;
    position: fixed;
    opacity: 0.9;
    width: 100%;
}
header li{
    float: right;
    font-size: 1.2em;
}

header li  a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
header li a:hover{
    transform: scale(1.2);
    transition: 0.1s;
    cursor: pointer;
}
#logo{
    font-family: 'Dancing Script', cursive;
    float:left;
    font-weight: bold;
    
}

/* ------------------ Image Principale --------------- */

#mainPicture{
    padding-top: 60px;
    /* l'image ne se repète pas + fixer + centrer (avec les 50%) */
    background: url(./images/dragon.jpeg) no-repeat fixed 50% 50% ;
    /* L'image prend toute la page en largeur */
    background-size: cover;
    height: 799px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: palegoldenrod ;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}
#firstLine{
    height: 3px;
    width: 25%;
    margin: -3px auto;
    background-color: rgb(194, 181, 181);
    box-shadow: 1px 3px 2px black;
}
h3{
    text-align: center;
    color: palegoldenrod;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}
#presentation img{
    height: 300px;
    width: 300px;
}


/* ------------------- Introduction ------------- */

#introduction {
    background: blanchedalmond;
    padding: 10px 0px 100px 0px;
}
#textIntro{
    padding: 0px 20%;
}
#presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.projectPicture h4{
    font-family: 'Dancing Scrip', cursive;
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
    margin: 15px;
}
.projectPicture img{
    border-radius: 10px ;
    box-shadow: 3px 4px 5px 4px black;
}
.projectPicture img:hover{
    opacity: 0.7;
    /* Transforme la taille de l'image "scale" */
    transform: scale(1.05);
    /*  "ease-in-out" effet, doux */
    transition: 0.6s ease-in-out;
}

/* -------------------- Projects ----------------- */
#projects{
    height: 1400px;
    background-color: rgb(245, 243, 241);
    padding: 1px 10%;
}
#projects h2{
    padding-top: 60px;
}
#headMonkey{
    background: url(./images/tete_singe.jpg) no-repeat ;
}
#simpson{
    background: url(./images/simpson.jpeg) no-repeat;
}
#spiderman{
    background: url(./images/spiderman.jpeg) no-repeat ;
}
#saxophoniste{
    background: url(./images/saxophoniste.jpeg) no-repeat ;
}
#projects li{
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 500px;
    float: left;
    box-shadow: 6px 6px 28px -1px black;
    background-size: 100%;
}
#projects p{
    height: 45px;
    width: 235px;
    background-color: rgba(102, 177, 28, 0.808);
    float: right;
    /* margin négative permet de faire sortir le texte de son contenant */
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px black;
}
#projects #simpson, #projects #saxophoniste{
    float: right;
}
#simpson p, #saxophoniste p{
    float: left;
    margin-left: -180px;
    background-color: rgba(33, 182, 182, 0.815);
    box-shadow: -4px 4px 0 1px black;
}

/* ------------------- Footer ---------------- */
footer{
    background-color: rgb(99, 73, 49);
    color: cornsilk;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    /* O pas de marge (haut et bas), auto = centré */
    margin: 0 auto;
    max-width: 950px;
}
input, textarea, button{
    border: none;
    padding: 15px 10px;
    margin: 1px 0;
    width: 55% ;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
    border-radius: 10px;
}
textarea{
    height: 120px;
    resize: none;
}
button{
    font-size: 1.5em;
    background-color: rgb(224, 213, 166);
    font-weight: bold;
}
button:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#secondLine{
    height: 1px;
    width: 75%;
    background-color: palegoldenrod;
    margin: 60px auto;
}
#copyrightIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: palegoldenrod;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.2s;
}